*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-color: lightgray;
}
.box{
    width: 100%;
    min-height: 500px;
    border: 1px solid #000;
}
.img-info{
    width: 90%;
    min-height: 300px;
    border: 1px solid #bf2f2f;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.image{
    width: 45%;
    min-height: 200px;
    padding: 20px;
}
.image img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.info{
    width: 45%;
    min-height: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.info p{
    text-align: center;
}