* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: lightgray;
}
header {
  min-height: 80px;
  position: sticky;
  top: 0;
  background: #F4A261;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  /* margin-bottom: 15px; */
}

.logo {
  height: 90%;
  width: 40%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 5vw;
}

.logo h1 {
  font-size: 3vw;
  color: #1D3557;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

nav ul li {
  width: fit-content;
  height: 50px;
  text-align: center;
  padding: 5px;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  /* color: #222; */
  color: #1D3557;
  font-size: 2vw;
  font-weight: bolder;
}

nav ul li:hover {
  /* background-color: #fff; */
  color: aqua;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

a:hover {
  color: #7A1F2B;
}

.box {
  /* display: none; */
  width: 100%;
  min-height: 500px;
  margin: auto;
  /* border: 1px solid #000; */
  /* padding: 30px; */
}

.box img {
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: -1;
}

.box2 {
  display: none;
  width: 100%;
  min-height: 500px;
  margin: auto;
}

.box2 img {
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: -1;
}

.form {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  width: 35vw;
  min-height: 550px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.form h2 {
  width: 25vw;
  text-align: center;
}

.form img {
  position: relative;
  width: 20vw;
  height: 100px;
}

input {
  width: 25vw;
  height: 35px;
  /*background-color: aquamarine;
    */
  background-color: rgba(251, 197, 178, 0.651);
  padding: 5px;
  border-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

label {
  width: 25vw;
  height: 3vh;
  font-size: larger;
  font-weight: bold;

}

button {
  /*margin: auto;
    */
  /* margin-left: 100px; */
  width: 10vw;
  height: 30px;
  background-color: rgba(251, 197, 178, 0.651);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover {
  background-color: rgb(231, 135, 100);
}

h3 {
  /* margin-left: 30px; */
  width: 25vw;
  height: 25px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  /* background-color: rgba(251, 197, 178, 0.651)   ; */

}

h3:hover {
  color: tomato;
}

footer {
  background: #222;
  color: #ccc;
  padding: 25px;
  text-align: center;
  margin-top: 80px;
}

@media only Screen and (max-width:850px) {
  header {
    flex-direction: column;
  }

  .logo {
    width: 45vw;
  }

  .logo img {
    width: 8vw;
  }

  .logo h1 {
    font-size: 4vw;
    color: brown;
  }

  nav ul li a {
    font-size: 3vw;
  }

  .form {
    width: 50vw;
  }

  .form h2 {
    width: 25vw;
  }

  input {
    width: 40vw;
  }

  label {
    width: 40vw;
  }

  button {
    width: 20vw;
  }

  h3 {
    width: 50vw;
  }

}

@media only screen and (max-width:550px) {
  header {
    width: 100vw;
  }

  .logo {
    width: 50vw;
  }

  .logo img {
    width: 10vw;
  }

  .logo h1 {
    font-size: 4vw;
  }

  nav {
    width: 60vw;
  }

  nav ul {
    width: 60vw;
    justify-content: space-around;
    gap: 10px;
  }

  nav ul li a {
    font-size: 3vw;
  }

  .form {
    width: 60vw;
  }

  .form h2 {
    width: 30vw;
  }

  input {
    width: 50vw;
  }

  label {
    width: 50vw;
  }

  button {
    width: 30vw;
  }

  h3 {
    width: 50vw;
  }
}